<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/shadow.css">
    <title>Profile</title>
</head>

<body>
         {{>header}}
    <main class="profile">
        <aside id="profile-pic"></aside>
        <vr></vr>
        <section class="details">
            <div class="name">
                <h2>Name</h2>
                <span>{{name}}</span>
            </div>
            <div class="email">
                <h2>e-mail</h2>
                <span>{{email}}</span>
            </div>
        </section>
        <div id="divide"></div>
        <section class="userarticles">
            <h2>Your Invites</h2>

        </section>
    </main>
     {{>footer}}
     <script src="js/app.js"></script>
</body>

</html>