    <header class="shadow-dreamy">
        <h1 >Party.</h1>
        <h3>{{title}}</h3>
     <nav id="navbar">
            <ul> 
                <li><a href="/">HOME</a></li>
                <li><a href="/pp">PROFILE</a></li>   
                <li><a href="/feeds">FEEDS</a></li>           
                <li><a href="/signup">SIGNUP</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header> 