    <header class="shadow-dreamy">
        <h1 >Party.</h1>
            <nav id="navbar">
                <ul> 
                    <li id="opt-1" class="logout"><a href="login.html">{{option1}}</a></li>
                    <li id="opt-2" ><a href="signup.html">{{option2}}</a></li>
                    <li id="opt-3" ><a href="index.hbs">{{option3}}</a></li>
                </ul>
            </nav>
    </header> 