@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Sen';
}
header{
    width:100%;
    margin: 0 auto;
    position: relative;
    background:linear-gradient(45deg,rgb(42, 170, 255),rgb(35, 230, 188),rgb(40, 247, 144),rgb(189, 255, 113));
    z-index: 1;
}
header h1{

    color: rgb(255, 255, 255);
    font-size: 3em;
    padding: 20px;
}
header h3{
    color: rgb(255, 255, 255);
    padding: 20px;
}

 nav{
     background-color: white;
 }
nav ul{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style:none;
    padding: 0;
    font-size: 0.75em;
}
nav li{
    display: flex;
    justify-content: center;
}
nav li{
    display: block;
  
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
nav a{
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
  background:orange;
  color: #fff;
}
.logout{
background-color: tomato;
}

/*media queries*/
@media screen and (max-width:460px){
    header{
        position: relative;
    }
    nav ul{
      
        flex-direction: column;
    }
    nav a{
        display: block;
    }
   
}
@media screen and (min-width:460px){
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }
      .sticky + main{
          padding-top: 102px;
      }
}